.auth-form {
  padding-top: 36px;
  padding-bottom: 2px;

  &,
  .auth-social {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    gap: 16px;
  }

  &__divider {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 12px;
    padding-top: 16px;
    padding-bottom: 8px;

    &::before,
    &::after {
      content: '';
      height: 1px;
      width: 100%;
      background: $color-grey-thin;
    }
  }

  &__divider-text {
    flex-grow: 0;
    flex-shrink: 0;
    @include text-12-400;
    color: $color-black;
  }

  &__note {
    @include text-14-500;

    a {
      color: $color-primary;
    }

    &--password {
      text-align: right;
      padding-top: 4px;
      padding-bottom: 8px;
    }
  }

  &__button {
    &.button--mat-primary {
      &.mat-mdc-button.mat-mdc-button-base,
      &.mat-mdc-raised-button.mat-mdc-button-base,
      &.mat-mdc-unelevated-button.mat-mdc-button-base,
      &.mat-mdc-outlined-button.mat-mdc-button-base {
        height: 44px;
      }
    }
  }

  &__checkbox-line {
    padding: 8px 0 12px 0;
  }

  &__cols {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 16px 8px;

    & > * {
      flex: 1 1 0;
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column;

      & > * {
        flex-basis: 100%;
      }
    }
  }

  .mat-datepicker-toggle[data-mat-calendar] {
    color: $color-grey-neutral-10;
  }

  .mat-mdc-form-field-icon-suffix {
    color: $color-grey-neutral-30;
  }

  .mat-button-toggle-group.mat-button-toggle-group-appearance-standard,
  .mat-button-toggle-button.mat-focus-indicator {
    height: 40px;
  }

  .mat-button-toggle {
    flex: 1 1 0;
  }
}
