.auth-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;

  padding: 94px 30px 0 30px;

  z-index: 1000;

  // &.visible {
  // }

  &__inner {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 494px;
    max-height: 80vh;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  &__content-container {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    box-shadow: 0 1px 7px rgba($color-black, 0.05);
    border-radius: 8px;
    padding: 3px;
  }

  &__content {
    height: 100%;
    padding: 29px 21px 29px 21px;
    overflow-y: auto;
    @include webkit-scrollbar;
  }

  &__close {
    &.mdc-button {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(100%, -50%);

      min-width: auto;

      &:hover {
        background: $color-transparent;
      }
    }

    &.mat-mdc-button,
    &.mat-mdc-outlined-button {
      &:hover {
        background: $color-transparent;
        --mat-mdc-button-persistent-ripple-color: #{$color-transparent};
        --mat-mdc-button-ripple-color: #{$color-transparent};
      }
    }

    &.mat-mdc-button > .mat-icon {
      margin-right: 0;
    }

    &.mat-mdc-button:not(:disabled) {
      color: $color-grey-neutral-30;
    }
  }
}
