app-header {
  position: relative;
  display: block;
  width: 100%;
  z-index: 1;
}

.header {
  &__inner {
    background: rgba($color-grey-neutral-30, 0.2);
    padding: 24px 0;
  }

  &__container-inner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  &__logo {
    display: block;
    text-decoration: none;

    img {
      display: block;
    }
  }

  &__links {
    margin-left: auto;
  }
}
