<div class="booking-list">
  <div class="booking-content-block">
    <ng-container *ngIf="flyToData$ | async as directFlights">
      <ng-container
        *ngIf="directFlights.variants?.length && directFlights.chosenVariant">
        <h3
          class="booking-content-block__title booking-content-block__title--m title title--medium title--iconic">
          <img class="icon" src="/assets/images/plane.svg" alt="Icon" />
          {{ directFlights.chosenVariant.flyFrom.city.name }} to
          {{ directFlights.chosenVariant.flyTo.city.name }}
        </h3>
        <div class="flight">
          <div class="flight__options" *ngIf="!directFlights.confirmed">
            <div class="flight__nav flight__nav--prev">
              <button
                mat-icon-button
                class="small-button"
                aria-label="Get previous flights"
                (click)="handleBackward()">
                <mat-icon>chevron_left</mat-icon>
              </button>
            </div>
            <div class="flight__nav flight__nav--next">
              <button
                mat-icon-button
                class="small-button"
                aria-label="Get next flights"
                (click)="handleForward()">
                <mat-icon>chevron_right</mat-icon>
              </button>
            </div>
            <app-booking-card
              (chooseFlight)="onSwitchCurrentCard($event)"
              *ngFor="
                let bookingVariant of directFlights.variants;
                let i = index
              "
              [bookingVariant]="bookingVariant"
              [isActive]="i === 2"></app-booking-card>
          </div>
          <app-booking-details
            [currentFlight]="directFlights.chosenVariant"
            (confirmation)="onConfirmToggle('flyTo')"
            [props]="{
              isReturn: false,
              isConfirmed: directFlights.confirmed
            }"></app-booking-details>
        </div>
      </ng-container>

      <p *ngIf="!directFlights.variants?.length">
        No flights available for booking
      </p>
    </ng-container>
  </div>

  <div class="booking-content-block">
    <ng-container *ngIf="flyBackData$ | async as returnFlights">
      <ng-container
        *ngIf="returnFlights.variants?.length && returnFlights.chosenVariant">
        <h3
          class="booking-content-block__title booking-content-block__title--m title title--medium title--iconic">
          <img
            class="icon icon--back"
            src="/assets/images/plane.svg"
            alt="Icon" />
          {{ returnFlights.chosenVariant.flyFrom.city.name }} to
          {{ returnFlights.chosenVariant.flyTo.city.name }}
        </h3>
        <div class="flight">
          <div>
            <swiper
              #swiper
              [config]="config"
              *ngIf="!returnFlights.confirmed"
              (activeIndexChange)="onSecondSliderActiveIndexChange($event)"
              (slideChange)="onSecondSliderSlideChange($event)"
            >
              <!-- (slideChangeTransitionEnd)="" -->
              <!-- (slideChangeTransitionStart)="" -->

              <ng-template
                swiperSlide
                *ngFor="
                  let bookingVariant of returnFlights.variants;
                  let i = index
                ">
                <app-booking-card
                  (chooseFlight)="onSwitchCurrentCard($event)"
                  [bookingVariant]="bookingVariant"
                ></app-booking-card>
                  <!-- [isActive]="i === 2" -->
              </ng-template>
            </swiper>

            <!-- <swiper
              class="swiper-slider"
            >
              <ng-template swiperSlide *ngFor="let slide of slides$ | async; index as i">
                <div class="swiper-slide-container">
                  {{ slide }}
                </div>
              </ng-template>
            </swiper> -->


            <div class="flight__nav flight__nav--prev">
              <button
                mat-icon-button
                class="small-button"
                aria-label="Get previous flights"
                (click)="handleBackward()">
                <mat-icon>chevron_left</mat-icon>
              </button>
            </div>
            <div class="flight__nav flight__nav--next">
              <button
                mat-icon-button
                class="small-button"
                aria-label="Get next flights"
                (click)="handleBackward()">
                <mat-icon>chevron_right</mat-icon>
              </button>
            </div>
          </div>
          <app-booking-details
            [currentFlight]="returnFlights.chosenVariant"
            (confirmation)="onConfirmToggle('flyBack')"
            [props]="{
              isReturn: true,
              isConfirmed: returnFlights.confirmed
            }"></app-booking-details>
        </div>
      </ng-container>

      <p *ngIf="!returnFlights.variants?.length">
        No return flights available for booking
      </p>
    </ng-container>
  </div>
</div>
