<button
  mat-flat-button
  class="button button--mat-iconic button--mat-social"
  type="button"
  (click)="onButtonClick()"
>
  <img
    src="/assets/icons/icon-google.svg"
    alt="Google icon"
  >
  <span class="button__text">Continue with Google</span>
</button>

<button
  mat-flat-button
  class="button button--mat-iconic button--mat-social"
  type="button"
  (click)="onButtonClick()"
>
  <img
    src="/assets/icons/icon-facebook.svg"
    alt="Facebook icon"
  >
  <span class="button__text">Continue with Facebook</span>
</button>
