<div
  *ngIf="bookingVariant && bookingVariant.data[0] as flightData; else empty"
  [class]="{ 'booking-card': true, active: isActive }"
  (click)="setActive()">
  <div class="date-title">
    <p class="date-title__day">
      {{ flightData['local_departure'] | date : 'dd MMM' }}
    </p>
    <p class="date-title__weekday">
      {{ flightData['local_departure'] | date : 'EEEE' }}
    </p>
  </div>
  <div class="price">
    {{ flightData.price | currency : 'EUR' }}
  </div>
</div>
<ng-template #empty>Empty card</ng-template>
