<div
  *ngIf="bookingVariant && bookingVariant.data[0] as flightData; else empty"
  [class]="{ 'booking-card': true, active: isActive }"
  (click)="setActive()">
  <div class="date-title">
    <p class="date-title__day">
      {{ flightData['local_departure'] | date : 'dd MMM' }}
    </p>
    <p class="date-title__weekday">
      {{ flightData['local_departure'] | date : 'EEEE' }}
    </p>
  </div>
  <div class="price">
    {{ flightData.price | currency : 'EUR' }}
  </div>
</div>

<ng-template #empty>
  <div class="booking-card booking-card--empty">
    <div class="date-title">
      <p class="date-title__day">27 Feb</p>
      <p class="date-title__weekday">Monday</p>
    </div>
    <div class="placeholder">
      <img src="/assets/images/no-plane.svg" alt="empty card" />
    </div>
  </div>
</ng-template>
