<header class="header" [ngClass]="{ 'header--translucent': isFlightsPage() }">
  <div class="header__inner">
    <app-container height="max-height">
      <div class="header__container-inner">
        <a class="header__logo" [routerLink]="[NavigationPath.Flights]">
          <img src="/assets/images/logo.svg" alt="Airways Logo" />
        </a>

        <div
          class="header__menu"
          [@collapse]="collapse"
          appClickOutside
          (clickOutside)="clickedOutsideMenu($event)">
          <div class="header__menu-inner">
            <a
              *ngIf="isFlightsPage()"
              class="header__booking-link"
              [routerLink]="[NavigationPath.Booking]">
              Book flights
            </a>

            <mat-form-field
              class="header__select header__select--date"
              appearance="outline">
              <mat-select [(value)]="selectedDateFormat">
                <mat-option
                  name="date-format"
                  *ngFor="let dateFormat of dateFormats"
                  [value]="dateFormat.value">
                  {{ dateFormat.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field
              class="header__select header__select--currency"
              appearance="outline">
              <mat-select [(value)]="selectedCurrency">
                <mat-option
                  name="currency"
                  *ngFor="let currency of currencies"
                  [value]="currency.value">
                  {{ currency.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <button
              mat-flat-button
              class="header__button header__button--signin button button--mat-iconic"
              [ngClass]="{
                'button--mat-translucent-light': isFlightsPage(),
                'button--mat-translucent-dark': !isFlightsPage()
              }"
              type="button"
              (click)="onSingInBtnClick()">
              <svg>
                <use xlink:href="./assets/sprites/sprite.svg#icon-user"></use>
              </svg>
              <span class="button__text">Sign in</span>
            </button>

            <a
              class="header__button header__button--cart"
              [routerLink]="[NavigationPath.Cart]"
              aria-label="Cart">
              <svg>
                <use xlink:href="./assets/sprites/sprite.svg#icon-cart"></use>
              </svg>
            </a>
          </div>
        </div>

        <button
          *ngIf="isLgScreen"
          class="header__hamburger hamburger hamburger--spin"
          [class.is-active]="!collapse"
          type="button"
          (click)="toggleCollapse()"
          #hamburgerToggleRef>
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </app-container>
  </div>
</header>
