.button {
  &--mat-primary,
  &--mat-simple {
    &.mat-mdc-unelevated-button.mat-mdc-button-base {
      @include button-basic;
      border-radius: 4px;
      padding: 12px 24px;
    }
  }

  &--mat-simple {
    &.mat-mdc-unelevated-button.mat-mdc-button-base {
      background-color: $color-transparent;
    }
  }
}
