.mat-button-toggle-group.mat-button-toggle-group-appearance-standard {
  height: 58px;
  .mat-button-toggle-button.mat-focus-indicator {
    height: 58px;
  }
}

.mat-button-toggle {
  background-color: $color-secondary-90;
  width: 108px;

  .mat-button-toggle-label-content {
    @extend %label-medium;
    color: $color-grey-neutral;
  }

  &-checked {
    background-color: $color-secondary-90;
    .mat-button-toggle-label-content {
      color: $color-primary;
    }

    button[aria-pressed='true'] {
      .mat-button-toggle-label-content::before {
        content: '✓';
        margin-right: 11px;
      }
    }
  }
}

.mat-button-toggle .mat-button-toggle-focus-overlay {
  background-color: $color-transparent;
}

.mat-button-toggle-group-appearance-standard {
  border: 1px solid rgba($color-grey-neutral-30, 0.5);
}

.mat-button-toggle-group-appearance-standard
  .mat-button-toggle
  + .mat-button-toggle {
  border-left: 1px solid rgba($color-grey-neutral-30, 0.5);
}
