.mat-button-toggle {
  background-color: $color-secondary-90;

  .mat-button-toggle-label-content {
    @include text-14-500;
    color: $color-grey-neutral;
  }
}

.mat-button-toggle-checked {
  background-color: $color-secondary-90;

  .mat-button-toggle-label-content {
    color: $color-primary;
  }

  button[aria-pressed='true'] {
    .mat-button-toggle-label-content::before {
      content: url('/assets/icons/icon-checkmark.svg');
      margin-right: 11px;
    }
  }
}

.mat-button-toggle .mat-button-toggle-focus-overlay {
  background-color: $color-transparent;
}

.mat-button-toggle-group-appearance-standard {
  border: 1px solid $color-grey-neutral-30-50;
  /* stylelint-disable */
  &.invalid {
    border-color: red;
  }
}

.mat-button-toggle-group-appearance-standard
  .mat-button-toggle
  + .mat-button-toggle {
  /* stylelint-enable */
  border-left: 1px solid $color-grey-neutral-30-50;
}
