.mat-mdc-card.mdc-card {
  &.passenger-card,
  &.contacts-card {
    margin-top: 20px;
    .mat-mdc-card-content:last-child {
      padding-top: 32px;
      padding-bottom: 32px;
    }
    .mat-mdc-card-content {
      display: flex;
      padding: 0 44px;
      align-items: flex-start;
      gap: 24px;
    }
  }

  &.passenger-card {
    box-shadow: 0px 1px 4px rgba($color-black, 0.2);
    border-radius: 8px;
    .mat-mdc-card-content {
      flex-direction: column;
    }
  }

  &.contacts-card {
    border: 0;
    box-shadow: none;
    .mat-mdc-card-content {
      flex-direction: row;
    }
  }
}
