.mat-icon {
  svg {
    display: block;
  }
}

.mat-icon.material-icons {
  overflow: visible;
}

.mat-datepicker-toggle[data-mat-calendar] {
  color: $color-black;

  .mat-mdc-icon-button svg {
    transform: scale(1.1);
  }
}

.mat-mdc-form-field-icon-suffix {
  color: $color-grey-neutral-10;

  .mat-icon {
    transform: scale(1.1);
  }
}
