.passenger-data__options {
  .mat-mdc-slide-toggle .mdc-switch {
    width: var(--mdc-switch-track-width, 52px);
    .mdc-switch__handle-track {
      width: calc(100% - var(--mdc-switch-handle-width, 32px));
      left: 4px;
    }
    .mdc-switch__track {
      height: var(--mdc-switch-track-height, 32px);
      border-radius: var(--mdc-switch-track-shape, 16px);
      &::before {
        border: 2px solid #74767a;
      }
    }
    .mdc-switch__handle {
      border-radius: var(--mdc-switch-handle-shape, 12px);
      width: var(--mdc-switch-handle-width, 24px);
      height: var(--mdc-switch-handle-height, 24px);
    }
    &.mdc-switch--unselected,
    &.mdc-switch--selected {
      .mdc-switch__icon {
        width: var(--mdc-switch-selected-icon-size, 24px);
        height: var(--mdc-switch-selected-icon-size, 24px);
      }
    }
    &.mdc-switch--selected:enabled .mdc-switch__icon {
      fill: #49454f;
    }
  }
  .mat-mdc-slide-toggle.mat-accent {
    @extend %label-small;
    --mdc-switch-selected-focus-state-layer-color: #10264c;
    --mdc-switch-selected-handle-color: #fff;
    --mdc-switch-selected-hover-state-layer-color: #49454f;
    --mdc-switch-selected-pressed-state-layer-color: #10264c;
    --mdc-switch-selected-focus-handle-color: #fff;
    --mdc-switch-selected-hover-handle-color: #fff;
    --mdc-switch-selected-pressed-handle-color: #fff;
    --mdc-switch-selected-focus-track-color: #11397e;
    --mdc-switch-selected-hover-track-color: #11397e;
    --mdc-switch-selected-pressed-track-color: #11397e;
    --mdc-switch-selected-track-color: #11397e;
    --mdc-switch-unselected-track-color: #fff;
    --mdc-switch-unselected-focus-handle-color: #1c1b1f;
    --mdc-switch-unselected-hover-handle-color: #1c1b1f;
    --mdc-switch-unselected-pressed-handle-color: #1c1b1f;
    --mdc-switch-unselected-focus-track-color: #f4f6f9;
    --mdc-switch-unselected-hover-track-color: #f4f6f9;
    --mdc-switch-unselected-pressed-track-color: #f4f6f9;
  }
}
