.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before,
.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
  border-bottom-width: 0;
}

.mat-mdc-text-field-wrapper.mdc-text-field {
  border: 1px solid $color-grey-neutral-30-50;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;

  &.mdc-text-field--focused {
    border: 1px solid $color-primary;
  }

  &.mdc-text-field--invalid {
    border: 1px solid $color-danger;
  }
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: $color-primary;
}

.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: $color-danger;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: $color-secondary-90;
}

.mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align::before {
  display: inline;

  .mat-mdc-form-field-error-wrapper {
    position: relative;
  }
}

.mat-mdc-form-field-error {
  @include text-12-400;
}

.mat-mdc-form-field-error.mat-mdc-form-field-bottom-align::before {
  height: 13px;
}
