.title {
  @extend %title-large;
  color: $color-primary;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0px;
  gap: 12px;
}

.description {
  @extend %body-large;
  color: $color-grey-neutral-10;
}
