<mat-card class="cart-page">
  <mat-card-content>
    <h3 class="cart-page__title">Cart</h3>

    <div class="card">
      <p-table
        #dt
        [value]="products"
        [rows]="10"
        [globalFilterFields]="[
          'name',
          'country.name',
          'representative.name',
          'status'
        ]"
        [tableStyle]="{ 'min-width': '75rem' }"
        [(selection)]="selectedProducts"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 4rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="name" style="min-width: 15rem">
              Name <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th>Image</th>
            <th pSortableColumn="price">
              Price <p-sortIcon field="price"></p-sortIcon>
            </th>
            <th pSortableColumn="category" style="min-width: 10rem">
              Category <p-sortIcon field="category"></p-sortIcon>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>
              <p-tableCheckbox [value]="product"></p-tableCheckbox>
            </td>
            <td>{{ product.name }}</td>
            <td>
              <img
                [src]="
                  'https://primefaces.org/cdn/primeng/images/demo/product/' +
                  product.image
                "
                [alt]="product.name"
                width="50"
                class="shadow-4" />
            </td>
            <td>{{ product.price | currency : 'USD' }}</td>
            <td>{{ product.category }}</td>
            <td>
              <button
                pButton
                pRipple
                icon="pi pi-pencil"
                class="p-button-rounded p-button-success mr-2"
                (click)="editProduct(product)"></button>
              <button
                pButton
                pRipple
                icon="pi pi-trash"
                class="p-button-rounded p-button-warning"
                (click)="deleteProduct(product)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>

    <div class="cart-page__total cart-total">
      <button
        mat-flat-button
        class="cart-total__button button button--mat-simple">
        + Add new trip
      </button>
      <div class="cart-total__title">
        <span>Total</span><span>{{ selectedProducts?.length }}</span>
      </div>
    </div>

    <div class="cart-page__payment cart-payment">
      <mat-form-field class="cart-payment__promo-code" floatLabel="always">
        <input matInput placeholder="Promo Code" />
        <button mat-flat-button class="button button--mat-simple">APPLY</button>
      </mat-form-field>

      <div class="cart-payment__selected">
        <span>{{ sortedData.length }} selected</span
        ><button
          mat-flat-button
          color="primary"
          class="button button--mat-primary">
          Payment
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<!-- <table class="cart-page__table" matSort (matSortChange)="sortData($event)">
  <tr class="cart-page__table-header">
    <th mat-sort-header="number">No.</th>
    <th mat-sort-header="flight">Flight</th>
    <th mat-sort-header="typeTrip">Type trip</th>
    <th mat-sort-header="date">Data & Time</th>
    <th mat-sort-header="passengers">Passengers</th>
    <th mat-sort-header="price">Price</th>
  </tr>

  <tr class="cart-page__table-content" *ngFor="let sorted of sortedData">
    <td>{{ sorted.number }}</td>
    <td style="white-space: pre-line">{{ sorted.flight.join('\n') }}</td>
    <td>{{ sorted.typeTrip }}</td>
    <td style="white-space: pre-line">{{ sorted.date.join('\n') }}</td>
    <td style="white-space: pre-line">
      {{ sorted.passengers.join('\n') }}
    </td>
    <td>{{ sorted.price | currency : currencyType }}</td>
  </tr>
</table> -->

<!-- (input)="dt.filterGlobal($event.target.value, 'contains')" -->
