<mat-card class="cart-page">
  <mat-card-content>
    <h3 class="cart-page__title">Cart</h3>

    <p-table
      class="cart-page__table"
      #dt
      [value]="flightsData"
      [globalFilterFields]="[
        'name',
        'country.name',
        'representative.name',
        'status'
      ]"
      [(selection)]="selectedFlights"
      [rowHover]="true">
      <!-- [tableStyle]="{ 'min-width': '75rem' }" -->
      <ng-template class="cart-page__table-header" pTemplate="header">
        <tr>
          <th style="width: 4rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="number" style="min-width: 7rem">
            No. <p-sortIcon field="number"></p-sortIcon>
          </th>
          <th pSortableColumn="name" style="min-width: 11rem">
            Flight <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="typeTrip" style="min-width: 8rem">
            Type trip <p-sortIcon field="typeTrip"></p-sortIcon>
          </th>
          <th pSortableColumn="date" style="min-width: 13rem">
            Date & Time <p-sortIcon field="date"></p-sortIcon>
          </th>
          <th style="min-width: 8rem">Passengers</th>
          <th pSortableColumn="price" style="min-width: 6rem">
            Price <p-sortIcon field="price"></p-sortIcon>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template
        class="cart-page__table-body table-content"
        pTemplate="body"
        let-flight>
        <tr>
          <td>
            <p-tableCheckbox [value]="flight"></p-tableCheckbox>
          </td>
          <td>{{ flight.number }}</td>
          <td style="white-space: pre-line">
            {{ flight.name.join('\n') }}
          </td>
          <td>{{ flight.typeTrip }}</td>
          <td style="white-space: pre-line">
            {{ flight.date.join('\n') }}
          </td>
          <td style="white-space: pre-line">
            {{ flight.passengers.join('\n') }}
          </td>
          <td>{{ flight.price | currency : currencyType }}</td>
          <td class="table-content__cell card flex justify-content-center">
            <!-- <span class="pi pi-ellipsis-v"></span> -->
            <!-- <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-success mr-2"
              (click)="editProduct(flight)"></button>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-warning"
              (click)="deleteProduct(flight)"></button> -->
            <!-- <span
              #btn
              class="pi pi-ellipsis-v"
              (click)="menu.toggle($event)"></span> -->

            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="onContextMenuDeleteClick(flight)">
                Delete
              </button>
              <button mat-menu-item (click)="onContextMenuEditClick(flight)">
                Edit
              </button>
            </mat-menu>

            <!-- <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>more_vert</mat-icon>
              </button> -->

            <!-- <p-menu #menu [model]="tableMenu" [popup]="true"></p-menu>
              <button pButton type="button" (click)="menu.toggle($event); onContextMenuClick(flight)" label="Show"></button> -->

            <!-- <button
              #btn
              type="button"
              pButton
              icon="pi pi-bars"
              label="Show"
              (click)="menu.toggle($event)"></button>
            <p-tieredMenu
              class="table-content__options-menu"
              #menu
              [model]="tableMenu"
              [popup]="true"></p-tieredMenu> -->
          </td>
        </tr>
      </ng-template>
    </p-table>

    <!-- <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog> -->

    <div class="cart-page__total cart-total">
      <button
        mat-flat-button
        class="cart-total__button button button--mat-simple">
        + Add new trip
      </button>
      <div class="cart-total__title">
        <span>Total</span
        ><span>{{ countGeneral() | currency : currencyType }}</span>
      </div>
    </div>

    <div class="cart-page__payment cart-payment">
      <mat-form-field class="cart-payment__promo-code" floatLabel="always">
        <input matInput placeholder="Promo Code" />
        <button mat-flat-button class="button button--mat-simple">APPLY</button>
      </mat-form-field>

      <div class="cart-payment__selected">
        <span>{{ selectedFlights?.length }} selected</span
        ><button
          mat-flat-button
          color="primary"
          class="button button--mat-primary">
          Payment
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<!-- <table class="cart-page__table" matSort (matSortChange)="sortData($event)">
  <tr class="cart-page__table-header">
    <th mat-sort-header="number">No.</th>
    <th mat-sort-header="flight">Flight</th>
    <th mat-sort-header="typeTrip">Type trip</th>
    <th mat-sort-header="date">Data & Time</th>
    <th mat-sort-header="passengers">Passengers</th>
    <th mat-sort-header="price">Price</th>
  </tr>

  <tr class="cart-page__table-content" *ngFor="let sorted of sortedData">
    <td>{{ sorted.number }}</td>
    <td style="white-space: pre-line">{{ sorted.flight.join('\n') }}</td>
    <td>{{ sorted.typeTrip }}</td>
    <td style="white-space: pre-line">{{ sorted.date.join('\n') }}</td>
    <td style="white-space: pre-line">
      {{ sorted.passengers.join('\n') }}
    </td>
    <td>{{ sorted.price | currency : currencyType }}</td>
  </tr>
</table> -->
