app-booking-card {
  display: block;
  max-width: 20rem;

  p {
    margin: 0;
  }

  .booking-card {
    display: flex;
    flex-direction: column;
    border-left: 2px solid $color-grey-40;
    background-color: $color-white;
    padding: 4px 0;
    min-height: 75px;
    cursor: pointer;

    .date-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 4px;


      &__day {
        font-size: 0.9rem;
        font-weight: 500;
        line-height: 1.2rem;
        letter-spacing: 0.1px;
        color: $color-secondary-inactive;
      }

      &__weekday {
        font-size: 0.75rem;
        line-height: 0.75rem;
        font-weight: 100;
        color: $color-grey-neutral-30;
      }
    }

    .price {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-indigo;
      font-size: 1.2rem;
      line-height: 1.2rem;
      font-weight: 700;
      margin-top: 0.4rem;
      margin-bottom: 0.4rem;
    }

    &--empty {
      color: $color-grey-neutral-30;
      gap: 6px;
      cursor: not-allowed;
      pointer-events: none;

      .placeholder {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .date-title {
        &__day {
          color: $color-grey-neutral-30;
        }

        &__weekday {
          color: $color-grey-neutral-30;
        }
      }
    }
  }

  .active {
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: -1px;
      left: -1px;
      right: -1px;
      height: 4px;
      background-color: $color-active-base;
    }

    .date-title {
      &__day {
        font-size: 1.2rem;
        font-weight: 700;
        color: $color-indigo;
      }

      &__weekday {
        font-size: 0.9rem;
        line-height: 1.2rem;
        color: $color-grey-neutral-30;
      }
    }

    .price {
      font-size: 1.8rem;
      line-height: 2.2rem;
      margin: 0;
    }
  }
}
