app-booking-details {
  display: flex;
  margin-top: 9px;
  background-color: $color-white;
  border-radius: 5px;
  box-shadow: 0 1px 4px $color-grey-40;

  .flight-details {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 1.5rem;
    margin: 1rem 1.75rem 1rem 2.5rem;

    p {
      margin: 0;
    }

    .timing {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 4px;

      &--left {
        align-items: flex-start;
      }

      &--right {
        align-items: flex-end;
      }

      &__date {
        font-size: 1rem;
        line-height: 1rem;
        font-weight: 400;
        letter-spacing: 0.5px;
        color: $color-grey-neutral-30;
      }

      &__local-time {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }

      &__airport {
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1rem;
        color: $color-grey-neutral-30;
      }
    }

    .time {
      margin: 0;
      font-size: 1.9rem;
      font-weight: 700;
      color: $color-black;

      &__gmt {
        font-size: 0.5rem;
        line-height: 1.2rem;
        font-weight: 400;
        color: $color-grey-neutral-30;
      }
    }

    &__decor {
      flex: 1;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 1rem;
        right: 1rem;
        height: 2px;
        background-color: $color-grey-40;
      }

      .details {
        position: absolute;
        left: calc(50% - 22px);
        top: -40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        font-size: 0.75rem;
        font-weight: 400;
        color: $color-black;

        &__image {
          width: 44px;
          height: 24px;
          border-radius: 100%;
          background-color: $color-white;
          background-image: url('/assets/images/ero-plane.svg');
          background-repeat: no-repeat;
          background-position: center;

          &--flip {
            transform: scaleX(-1);
          }
        }
      }
    }

    &__jet-info {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      font-size: 0.9rem;
      font-weight: 400;
      line-height: 1.25rem;

      .tag {
        color: $color-grey-neutral-30;
      }

      .number {
        text-transform: uppercase;
        color: $color-black;
      }
    }
  }

  .flight-selection {
    border-left: 2px dashed $color-grey-40;
    display: grid;
    grid-template-areas:
      'seats select'
      'pricetag select'
      'price select';
    grid-template-columns: 1fr 1fr;
    padding: 1rem 2.5rem 1rem 1.75rem;
    text-align: right;

    &__seats {
      grid-area: seats;
      background-color: $color-active-base;
      width: 133px;
      height: 40px;
      padding: 0.25rem 0.5rem 0.25rem 2rem;
      border-radius: 2px;
      font-size: 0.75rem;
      line-height: 1rem;
      font-weight: 700;
      color: $color-grey-neutral;
    }

    &__price-tag {
      grid-area: pricetag;
      margin-top: 0.6rem;
      font-size: 0.75rem;
      line-height: 1rem;
      font-weight: 700;
      text-align: right;
      color: $color-grey-neutral-30;
    }

    &__price {
      grid-area: price;
      font-size: 1.8rem;
      font-weight: 700;
      color: $color-indigo;
    }

    &__select {
      grid-area: select;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
