.contacts-card {
  &__form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;

    @include media-breakpoint-down(xl) {
      flex-direction: column;
    }
  }

  &__phone-data {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
  }

  &__country-field,
  &__phone-field {
    .mat-mdc-form-field-infix {
      width: 217px;
    }
  }

  &__country-field {
    @include media-breakpoint-down(im) {
      .mat-mdc-form-field-infix {
        min-width: 166.67px;
      }
    }
  }

  &__email-field {
    .mat-mdc-form-field-infix {
      width: 385px;
    }

    @include media-breakpoint-down(sm) {
      .mat-mdc-form-field-infix {
        width: 217px;
      }
    }
  }
}
