app-booking-list {
  .booking-list {
    width: 100%;

    &__title {
      display: flex;
      gap: 1rem;
      margin: 0;
      padding: 0.5rem 0;
      line-height: 1.7rem;
      color: $color-indigo;

      .icon {
        width: 24px;
        height: 24px;
        padding: 2px;

        &-back {
          transform: rotate(180deg);
        }
      }
    }

    .flight {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.5rem;
      position: relative;

      &__options {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: end;
      }

      &__nav {
        position: absolute;
        top: 36px;

        .small-button {
          &.mat-mdc-icon-button,
          .mat-mdc-button-touch-target {
            width: 24px;
            height: 24px;
            padding: 0;
          }
        }

        &--prev {
          left: 0;
        }

        &--next {
          right: 0;
        }
      }
    }
  }
}
