.passenger-card {
  &__title {
    @extend %title-large;
    color: $color-primary-dark;
  }
  &__form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    flex-wrap: wrap;

    @include media-breakpoint-down(xl) {
      flex-direction: column;
      width: 100%;

      .mat-mdc-form-field {
        width: 100%;
      }
    }

    .mat-button-toggle {
      width: 108px;
    }

    .mat-button-toggle-group.mat-button-toggle-group-appearance-standard,
    .mat-button-toggle-button.mat-focus-indicator {
      height: 58px;
    }

    @include media-breakpoint-down(xl) {
      .mat-button-toggle,
      .mat-button-toggle-group.mat-button-toggle-group-appearance-standard,
      .mat-button-toggle-button.mat-focus-indicator {
        width: 100%;
      }
    }
  }

  &__options {
    .mdc-form-field {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 3px 0px;
      gap: 17px;
      > label {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 6px;
      }
    }
  }
}

.info-tooltip {
  @extend %label-small;
  color: red;
}
