.booking-passengers-card {
  &.mat-mdc-card.mdc-card {
    box-shadow: 0 1px 4px rgba($color-black, 0.2);
    border-radius: 8px;
  }

  &__form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;

    @include media-breakpoint-down(xl) {
      flex-direction: column;
      width: 100%;
    }

    .mat-mdc-form-field {
      @include media-breakpoint-down(xl) {
        flex-direction: column;
        width: 100%;
      }
    }

    .mat-button-toggle {
      width: 108px;

      @include media-breakpoint-down(xl) {
        width: 100%;
      }
    }

    .mat-button-toggle-group.mat-button-toggle-group-appearance-standard,
    .mat-button-toggle-button.mat-focus-indicator {
      height: 58px;

      @include media-breakpoint-down(xl) {
        width: 100%;
      }
    }

    /* stylelint-disable */
    .mat-mdc-text-field-wrapper.mdc-text-field
      .mat-mdc-form-field-flex
      .mat-mdc-form-field-infix {
      @include media-breakpoint-down(xl) {
        width: auto;
      }
    }
    /* stylelint-enable */
  }
}
