.contacts-card {
  &__form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;

    @include media-breakpoint-down(xl) {
      .mat-mdc-form-field {
        width: 100%;
      }
    }
  }

  &__phone-data {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
  }

  &__form,
  &__phone-data {
    @include media-breakpoint-down(xl) {
      flex-direction: column;
      width: 100%;
    }
  }

  &__country-field,
  &__phone-field {
    .mat-mdc-form-field-infix {
      width: 217px;
    }
  }

  &__email-field {
    .mat-mdc-form-field-infix {
      width: 385px;
    }
  }
}
