<div class="not-found-block">
  <h1 class="not-found-block__title">404</h1>
  <div class="not-found-block__text">
    <p>Page Not Found</p>
    <p>We're sorry, but the page you requested could not be found.</p>
    <p>Please check the URL for any mistakes. Visit our homepage or contact our support team for assistance.</p>
  </div>
  <div class="not-found-block__actions">
    <a
      mat-flat-button
      color="primary"
      class="button button--mat-primary"
      routerLink="/"
    >
      Go to homepage
    </a>
  </div>
</div>
