<h2 mat-dialog-title>About</h2>
<mat-dialog-content class="mat-typography">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, veritatis!
    Sint quos soluta odit blanditiis fugit unde nam, dolorem dignissimos
    quaerat, fugiat delectus veniam consectetur excepturi veritatis accusamus
    vero mollitia.
  </p>
</mat-dialog-content>

<!-- <mat-dialog-actions align="end"> -->
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
