<mat-stepper [linear]="true" [animationDuration]="'0'" #bookingStepper>
  <mat-step
    [completed]="isCompletedStepOne"
    label="Flights"
    [state]="isCompletedStepOne ? 'create' : 'number'"
  >
    <app-booking-list (completed)="onCompletedStepOne($event)"></app-booking-list>

    <div class="booking-stepper__actions booking-step-buttons">
      <button
        type="button"
        mat-flat-button
        matStepperPrevious
        class="button button--mat-simple"
      >
        Back
      </button>
      <button
        type="button"
        mat-flat-button
        color="primary"
        matStepperNext
        class="button button--mat-primary"
      >
        Continue
      </button>
    </div>

  </mat-step>

  <mat-step
    [completed]="isCompletedStepTwo"
    label="Passengers"
    [state]="isCompletedStepTwo ? 'create' : 'number'"
  >
    <app-booking-passengers (completed)="onCompletedStepTwo($event)"></app-booking-passengers>

    <div class="booking-stepper__actions booking-step-buttons">
      <button
        type="button"
        mat-flat-button
        matStepperPrevious
        class="button button--mat-simple"
      >
        Back
      </button>
      <button
        type="button"
        mat-flat-button
        color="primary"
        matStepperNext
        class="button button--mat-primary"
      >
        Continue
      </button>
    </div>

  </mat-step>

  <mat-step
    [completed]="isCompletedStepThree"
    label="Review & Payment"
    [state]="isCompletedStepThree ? 'create' : 'number'"
  >
    <app-booking-summary (completed)="onCompletedStepThree($event)"></app-booking-summary>

    <div class="booking-stepper__actions booking-step-buttons">
      <button
        type="button"
        mat-flat-button
        matStepperPrevious
        class="button button--mat-simple"
      >
        Back
      </button>
      <button
        type="button"
        mat-flat-button
        class="button button--mat-outlined"
      >
        Add to order cart
      </button>
      <button
        type="button"
        mat-flat-button
        color="primary"
        class="button button--mat-primary"
      >
        Continue
      </button>
    </div>
  </mat-step>

</mat-stepper>
