<mat-stepper [linear]="true" [animationDuration]="'0'" #bookingStepper>
  <mat-step
    [completed]="(bookingSteps$ | async)?.['flights']"
    label="Flights"
    [editable]="(bookingSteps$ | async)?.['flights'] === false"
    >
    <!-- [state]="(bookingSteps$ | async)?.['flights'] ? 'create' : 'number'" -->
    <app-booking-list (completed)="onChangeCompleted($event)"></app-booking-list>

    <div class="booking-stepper__actions booking-step-buttons">
      <button
        type="button"
        mat-flat-button
        matStepperPrevious
        class="button button--mat-simple"
      >
        Back
      </button>
      <button
        type="button"
        mat-flat-button
        color="primary"
        matStepperNext
        class="button button--mat-primary"
        [disabled]="!(bookingSteps$ | async)?.['flights']"
      >
        Continue
      </button>
    </div>

  </mat-step>

  <mat-step
    [completed]="(bookingSteps$ | async)?.['passengers']"
    label="Passengers"
    [editable]="(bookingSteps$ | async)?.['flights']"
    >
    <!-- [state]="(bookingSteps$ | async)?.['passengers'] ? 'create' : 'number'" -->
    <app-booking-passengers (completed)="onChangeCompleted($event)"></app-booking-passengers>

    <div class="booking-stepper__actions booking-step-buttons">
      <button
        type="button"
        mat-flat-button
        matStepperPrevious
        class="button button--mat-simple"
      >
        Back
      </button>
      <button
        type="button"
        mat-flat-button
        color="primary"
        matStepperNext
        class="button button--mat-primary"
        [disabled]="!(bookingSteps$ | async)?.['passengers']"
      >
        Continue
      </button>
    </div>

  </mat-step>

  <mat-step
    [completed]="(bookingSteps$ | async)?.['review']"
    label="Review & Payment"
    [editable]="(bookingSteps$ | async)?.['passengers']"
    >
    <!-- [state]="(bookingSteps$ | async)?.['review'] ? 'create' : 'number'" -->
    <app-booking-summary (completed)="onChangeCompleted($event)"></app-booking-summary>

    <div class="booking-stepper__actions booking-step-buttons">
      <button
        type="button"
        mat-flat-button
        matStepperPrevious
        class="button button--mat-simple"
      >
        Back
      </button>
      <button
        type="button"
        mat-flat-button
        class="button button--mat-outlined"
      >
        Add to order cart
      </button>
      <button
        type="button"
        mat-flat-button
        color="primary"
        class="button button--mat-primary"
        [disabled]="!(bookingSteps$ | async)?.['review']"
      >
        Continue
      </button>
    </div>
  </mat-step>

</mat-stepper>
