<footer class="footer">
  <div class="footer__inner">
    <app-container height="max-height">
      <app-row mode="lg">
        <app-column [modes]="{ lg: 5 }">
          <div class="footer__copyright">
            <div class="footer__copyright-inner">
              <span class="footer__copyright-text">
                © 2023, AIRWAYS
                ・
                <a
                  href="https://github.com/tedgregory"
                  target="_blank"
                >
                  Tedgregory
                </a>
                ・
                <a
                  href="https://github.com/webkwondo"
                  target="_blank"
                >
                  Webkwondo
                </a>
                ・
                <a
                  href="https://github.com/nebesnaya94"
                  target="_blank"
                >
                  Nebesnaya94
                </a>
              </span>
            </div>
          </div>
        </app-column>

        <app-column [modes]="{ lg: 7 }">
          <div class="footer__payment">
            <div class="footer__payment-inner">
              <div class="footer__payment-text">We accept these payment methods</div>
              <ul class="footer__payment-list">
                <li class="footer__payment-item">
                  <img
                    src="/assets/icons/icon-payment-mastercard.svg"
                    alt="Mastercard"
                  >
                </li>
                <li class="footer__payment-item">
                  <img
                    src="/assets/icons/icon-payment-amazon-pay.svg"
                    alt="Amazon Pay"
                  >
                </li>
                <li class="footer__payment-item">
                  <img
                    src="/assets/icons/icon-payment-american-express.svg"
                    alt="American Express"
                  >
                </li>
                <li class="footer__payment-item">
                  <img
                    src="/assets/icons/icon-payment-visa.svg"
                    alt="Visa"
                  >
                </li>
              </ul>
            </div>
          </div>
        </app-column>
      </app-row>
    </app-container>
  </div>
</footer>
