<footer class="footer">
  <div class="footer__inner">
    <app-container height="max-height">
      <app-row mode="md">
        <app-column class="admin-menu" [modes]="{ md: 6 }">
          <div class="footer__copyright">
            <div class="footer__copyright-inner">
              <span class="footer__copyright-text"
                >© 2023, AIRWAYS. All rights reserved.</span
              >
            </div>
          </div>
        </app-column>

        <app-column [modes]="{ md: 6 }">
          <div class="footer__payment">
            <div class="footer__payment-inner">
              <div class="footer__payment-text">
                We accept these payment methods
              </div>
              <nav class="footer__payment-links">
                <a class="footer-link" mat-icon-button href="#" target="_blank">
                  <mat-icon
                    class="footer-icon"
                    aria-label="Link to Mastercard"
                    svgIcon="appPaymentMastercard"></mat-icon>
                </a>
                <a class="footer-link" mat-icon-button href="#" target="_blank">
                  <mat-icon
                    class="footer-icon"
                    aria-label="Link to Amazon Pay"
                    svgIcon="appPaymentAmazonPay"></mat-icon>
                </a>
                <a class="footer-link" mat-icon-button href="#" target="_blank">
                  <mat-icon
                    class="footer-icon"
                    aria-label="Link to American Express"
                    svgIcon="appPaymentAmericanExpress"></mat-icon>
                </a>
                <a class="footer-link" mat-icon-button href="#" target="_blank">
                  <mat-icon
                    class="footer-icon"
                    aria-label="Link to Visa"
                    svgIcon="appPaymentVisa"></mat-icon>
                </a>
              </nav>
            </div>
          </div>
        </app-column>
      </app-row>
    </app-container>
  </div>
</footer>
