@import 'src/styles/libs/normalize';

@import 'src/styles/base/variables';
@import 'src/styles/base/mixins/breakpoints';
@import 'src/styles/base/global';
@import 'src/styles/base/material';

@import 'src/styles/layout/layout';
@import 'src/styles/layout/header';
@import 'src/styles/layout/footer';
@import 'src/styles/layout/main';

@import 'src/styles/components/ui/container';
@import 'src/styles/components/ui/column';
@import 'src/styles/components/ui/row';
@import 'src/styles/components/ui/spinner';

@import 'src/styles/components/booking/booking-card';
@import 'src/styles/components/booking/booking-list';
@import 'src/styles/components/booking/booking-page';
@import 'src/styles/components/booking/booking-passengers';
@import 'src/styles/components/booking/booking-passenders-card';

@import 'src/styles/components/not-found/not-found-page';

@import 'src/styles/common/text-field';
@import 'src/styles/common/button-toggle';
@import 'src/styles/common/button';
@import 'src/styles/common/icon';
@import 'src/styles/common/card';
