%title-large {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

%body-large {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

%button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.1px;
}

%label-medium {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

%label-small {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
}
