// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$airways-primary: mat.define-palette(mat.$indigo-palette);
$airways-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$airways-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$airways-theme: mat.define-light-theme(
  (
    color: (
      primary: $airways-primary,
      accent: $airways-accent,
      warn: $airways-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($airways-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

@import './variables.scss';

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before,
.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
  border-bottom-width: 0px;
}

.mat-mdc-text-field-wrapper.mdc-text-field {
  border: 1px solid $color-grey-neutral-40;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  &.mdc-text-field--focused {
    border: 1px solid $color-active;
  }
  &.mdc-text-field--invalid {
    border: 1px solid $color-danger;
  }
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: $color-active;
}

.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: $color-danger;
}

.mat-button-toggle-checked {
  background-color: $color-white;
  button[aria-pressed='true'] {
    color: $color-primary;
    .mat-button-toggle-label-content::before {
      content: '✓';
      margin-right: 2px;
    }
  }
}

.mat-button-toggle .mat-button-toggle-focus-overlay {
  background-color: #00000000;
}

.mat-button-toggle-group-appearance-standard {
  border: 1px solid $color-grey-neutral-40;
}

.mat-button-toggle-group-appearance-standard
  .mat-button-toggle
  + .mat-button-toggle {
  border-left: 1px solid $color-grey-neutral-40;
}

.material-icons {
  font-size: 26.67px;
}
