<mat-card class="booking-summary-flight">
  <mat-card-content>
    <div class="booking-summary-flight__block summary-header-block">
      <h4 class="summary-header-block__title">
        <span>FR 1925</span> <span>{{ flightItem.name }}</span>
      </h4>
      <div class="summary-header-block__time-data">
        <span>{{ flightItem.date }}</span> <span>{{ flightItem.time }}</span>
      </div>
    </div>
    <div class="booking-summary-flight__block summary-content-block">
      <div class="summary-content-block__passengers-name">Harry Potter</div>
      <div class="summary-content-block__included">
        <p>1checked bag (total 23 kg) included</p>
        <p>1 cabin bag + 1 personal item (max. 8 kg) included</p>
        <p>Seat 19E</p>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="booking-summary-flight__block summary-content-block">
      <div class="summary-content-block__passengers-name">LiLi Potter</div>
      <div class="summary-content-block__included">
        <p>1checked bag (total 23 kg) included</p>
        <p>1 cabin bag + 1 personal item (max. 8 kg) included</p>
        <p>Seat 20E</p>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="booking-summary-flight__block summary-content-block">
      <div class="summary-content-block__passengers-name">James Potter</div>
      <div class="summary-content-block__included">
        <p>1checked bag (total 23 kg) included</p>
        <p>1 cabin bag + 1 personal item (max. 8 kg) included</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
